<h1>Seja Bem-vindo</h1>
<ul>
  <li><a href="http://localhost:3000/contacts">contacts</a></li>
  <li><a href="http://localhost:3000/kinds">kinds</a></li>
  <li><a href="http://localhost:3000/addresses">addresses</a></li>
  <li><a href="http://localhost:3000/phones">phones</a></li>
</ul>
